In [1]:
name = "chitti"

In [3]:
type(name)

str

In [9]:
age=33

In [10]:
type(age)

int

In [11]:
how_many_days=27.5

In [13]:
type(how_many_days)

float

In [15]:
type(age>30)

bool

In [16]:
#python collection data type
#list-> mutable,to hold sequence of value lije age gender etc, we use square bracket to create list.
#tuple
#dictionaries
#sets

# Lists

In [17]:
Ages = [34,23,45,67,32,56,32,56,22]

In [18]:
Ages

[34, 23, 45, 67, 32, 56, 32, 56, 22]

In [19]:
type(Ages)

list

In [20]:
Ages[0]

34

In [21]:
Ages[-1]

22

In [22]:
Ages[-3]

32

In [23]:
#list Slicing

In [24]:
Ages[2,5]

TypeError: list indices must be integers or slices, not tuple

In [25]:
Ages[2:6] #from 2 to 5, when we are slicing last number will not participate

[45, 67, 32, 56]

In [26]:
Ages[-5:-1] # -1 will not be included

[32, 56, 32, 56]

In [27]:
Ages[6:3] #direction is right to left that is why empty list

[]

In [31]:
Ages[-1:-4:-1] #-1 at last changes the direction of slicing

[22, 56, 32]

In [32]:
#list of list
Languages = [['English','Hindi'],'Marathi',['English','French'],['python']]

In [34]:
type(Languages)

list

In [36]:
Languages[3]

'python'

In [38]:
type(Languages[3])  #marathi is string

str

In [39]:
Languages[0][1]

'Hindi'

In [44]:
type(Languages[3])

str

In [45]:
list2 = ['John',True,10.5,20]

In [46]:
list2[2]

10.5

In [48]:
type(list2[1])

bool

In [49]:
type(list2[0])

str

In [50]:
type(list2[2])

float

In [51]:
type(list2[3])

int

In [52]:
#updating a list, possible as it is mutable
List2

NameError: name 'List2' is not defined

In [53]:
list2

['John', True, 10.5, 20]

In [54]:
list2[2]=0

In [55]:
list2

['John', True, 0, 20]

In [56]:
#updating multiple
list2[1:4]=[20,40,60]

In [57]:
list2

['John', 20, 40, 60]

In [58]:
list[-3:]

TypeError: 'type' object is not subscriptable

In [59]:
list2[-3]=[True,False,True]

In [60]:
list2

['John', [True, False, True], 40, 60]

In [61]:
#from -3 to -1
list2[-3:]=[True,False,True]

In [62]:
list2

['John', True, False, True]

In [63]:
Ages

[34, 23, 45, 67, 32, 56, 32, 56, 22]

In [64]:
#from to to 4
Ages[:5]

[34, 23, 45, 67, 32]

In [65]:
#function in list
#append-> at a value to the list at the end
#clear-> gives empty list
#copy-> a new row is creates
#count-> gives count of value
#extend-> always be a list bt safe as a individual value
#insert-> insert vslue in any index
#pop-> removes the last value if index is not provided
#remove-> remove removes the value given in command
#reverse-> reverse the list
#sort-> assencending order me dalenga

In [66]:
#Ages.+ Tabwill get function
Ages.append[100]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [67]:
Ages.append(100)

In [68]:
#append takes one argument thus pass as a list
Ages.append([20,23,56,23])
#will as list of list

In [69]:
Ages

[34, 23, 45, 67, 32, 56, 32, 56, 22, 100, [20, 23, 56, 23]]

In [70]:
Ages1=Ages.copy()

In [71]:
Ages1

[34, 23, 45, 67, 32, 56, 32, 56, 22, 100, [20, 23, 56, 23]]

In [72]:
Ages1.count(23)

1

In [73]:
Ages1.pop()

[20, 23, 56, 23]

In [74]:
Ages1.pop(4)

32

In [75]:
Ages1

[34, 23, 45, 67, 56, 32, 56, 22, 100]

In [79]:
Ages1.remove(67)

In [78]:
Ages

[34, 23, 45, 32, 56, 32, 56, 22, 100, [20, 23, 56, 23]]

In [80]:
Ages1

[34, 23, 45, 56, 32, 56, 22, 100]

In [81]:
Ages1.reverse()

In [82]:
Ages1

[100, 22, 56, 32, 56, 45, 23, 34]

In [83]:
Ages1.sort()

In [84]:
Ages1

[22, 23, 32, 34, 45, 56, 56, 100]

In [85]:
Ages1.remove()

TypeError: remove() takes exactly one argument (0 given)