In [1]:
list1 = [21,22,22,32,22,12,22,13]

# Tuple

In [9]:
#tuple can not be updated
#example state name (never changes)
#tuple is immutable
#round brackets are used

#Function in tuple
#count-> gives count of values
#index -> gives index of value

tuple1 =(32,22,43,3,23,43,34,33,23)

In [3]:
type(tuple1)

tuple

In [4]:
list[2]

TypeError: 'type' object is not subscriptable

In [5]:
list1[2]

22

In [6]:
list1[2]=100

In [7]:
tuple1

(32, 22, 43, 3, 23, 43, 34, 33, 23)

In [8]:
tuple1[3]=23

TypeError: 'tuple' object does not support item assignment

In [10]:
tuple1.count()

TypeError: count() takes exactly one argument (0 given)

In [11]:
tuple1.count(23)

2

In [12]:
tuple1.index(23)

4

In [13]:
sum(tuple1)

256

In [14]:
#empty tuple
tuple1 = tuple()

In [15]:
tuple1

()

In [16]:
#length
len(tuple1)

0

In [17]:
#deleting the tuple
del tuple1

In [18]:
#slicing of tuple
tuple1 =(32,22,43,3,23,43,34,33,23)

In [20]:
tuple1[3:7]

(3, 23, 43, 34)

In [21]:
tuple1[5:]

(43, 34, 33, 23)

In [22]:
tuple1[5::-1]

(43, 23, 3, 43, 22, 32)

In [23]:
#-1 is for direction right to left
tuple1[5:8:-1]

()

In [24]:
# 1 is for left to right direction
tuple1[5:8:1]

(43, 34, 33)

In [25]:
tuple1[3,8,3]

TypeError: tuple indices must be integers or slices, not tuple

In [26]:
tuple1

(32, 22, 43, 3, 23, 43, 34, 33, 23)

In [27]:
#jump 2 value if 3 is present in left to right direction
tuple1[2:8:3]

(43, 43)

In [31]:
# two value skip/jump/ step 
tuple1[8:0:-2]

(23, 34, 23, 43)

# Dictionary

In [32]:
# key value pair
#dictionary starts with curly braces

dict1 = {'cust_id': [1,2,3,4,5],
         'cust_name':['A','B','C','D','E'],
         'Region':['N','S','S','E','W']}

In [33]:
#adding one more key value inside dictionary
dict1['Product']=['Py','Tab','SQl','Py','R']

In [35]:
dict1

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['A', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W'],
 'Product': ['Py', 'Tab', 'SQl', 'Py', 'R']}

In [38]:
#updating dictionary
dict1['cust_name'][0]='Z'

In [39]:
dict1

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['Z', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W'],
 'Product': ['Py', 'Tab', 'SQl', 'Py', 'R']}

In [40]:
#create a data frame for dictionary/excel
# data frame is a table in python
# pandas package used for creating frames
# https://pandas.pydata.org/
# by dafault anaconda available
# we have to import that package in jupyter notebook

In [42]:
import pandas as pd

In [45]:
a=pd.DataFrame(dict1)

In [46]:
# first column is index column

In [47]:
a

   cust_id cust_name Region Product
0        1         Z      N      Py
1        2         B      S     Tab
2        3         C      S     SQl
3        4         D      E      Py
4        5         E      W       R

In [48]:
type(a)

pandas.core.frame.DataFrame

In [49]:
dict1

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['Z', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W'],
 'Product': ['Py', 'Tab', 'SQl', 'Py', 'R']}

In [50]:
#function in dictionary
#clear
#copy
#fromkeys- helps to create a dictionary using a keys of this dictionary, creates a skeleton from parent dictionary
#get-  gives entire list of column
#items-  gives keys and value of all item
#keys - gives key
#pop- 
#popitem
#setdafaut -  add one more key with non value

SyntaxError: invalid syntax (<ipython-input-50-880fd3cb10da>, line 1)

In [51]:
#copy
dict2=dict1.copy()

In [53]:
dict2.fromkeys({'cust_name','Product'})

{'Product': None, 'cust_name': None}

In [54]:
dict2.fromkeys({'cust_name','Product'},{'B','Tab'})

{'Product': {'B', 'Tab'}, 'cust_name': {'B', 'Tab'}}

In [55]:
dict2.fromkeys({'cust_name','Product'},{'NA'})

{'Product': {'NA'}, 'cust_name': {'NA'}}

In [56]:
dict3 = dict2.fromkeys({'cust_name','Product'})

In [57]:
dict3

{'Product': None, 'cust_name': None}

In [67]:
dict3['Product'][0]='Tab'

TypeError: 'NoneType' object does not support item assignment

In [62]:
dict2.get('Product')

['Py', 'Tab', 'SQl', 'Py', 'R']

In [63]:
dict2.items()

dict_items([('cust_id', [1, 2, 3, 4, 5]), ('cust_name', ['Z', 'B', 'C', 'D', 'E']), ('Region', ['N', 'S', 'S', 'E', 'W']), ('Product', ['Py', 'Tab', 'SQl', 'Py', 'R'])])

In [64]:
dict2.keys()

dict_keys(['cust_id', 'cust_name', 'Region', 'Product'])

In [65]:
dict2.pop('Product')

['Py', 'Tab', 'SQl', 'Py', 'R']

In [66]:
dict2

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['Z', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W']}

In [68]:
dict2.popitem()

('Region', ['N', 'S', 'S', 'E', 'W'])

In [69]:
dict2

{'cust_id': [1, 2, 3, 4, 5], 'cust_name': ['Z', 'B', 'C', 'D', 'E']}

In [70]:
dict1

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['Z', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W'],
 'Product': ['Py', 'Tab', 'SQl', 'Py', 'R']}

In [71]:
dict1.setdefault('Marks')

In [72]:
dict1

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['Z', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W'],
 'Product': ['Py', 'Tab', 'SQl', 'Py', 'R'],
 'Marks': None}

In [75]:
dict1.popitem()

('Marks', None)

In [76]:
dict1

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['Z', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W'],
 'Product': ['Py', 'Tab', 'SQl', 'Py', 'R']}

In [77]:
dict1.setdefault('Marks')

In [78]:
del dict1['Marks']

In [79]:
dict1

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['Z', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W'],
 'Product': ['Py', 'Tab', 'SQl', 'Py', 'R']}

In [82]:
del dict1['Product'][4]

In [83]:
dict1

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['Z', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W'],
 'Product': ['Py', 'Tab', 'SQl', 'Py']}

In [84]:
pd.DataFrame(dict1)

ValueError: arrays must all be same length

In [85]:
dict1['Product'][4]='R'

IndexError: list assignment index out of range

In [86]:
dict1

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['Z', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W'],
 'Product': ['Py', 'Tab', 'SQl', 'Py']}

In [89]:
mydict = {1:2,3:4,5:6,7:8}

In [88]:
mydict

{1: 2}

In [90]:
# 1 is key 2 is value

In [91]:
mydict2 = {1:10,9:20}

In [92]:
mydict2

{1: 10, 9: 20}

In [93]:
mydict.update(mydict2)

In [94]:
mydict

{1: 10, 3: 4, 5: 6, 7: 8, 9: 20}

In [95]:
#1:10 is changed bcz one key only one value and also 9:20 is added

In [96]:
dict1

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['Z', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W'],
 'Product': ['Py', 'Tab', 'SQl', 'Py']}

In [98]:
dict1.values()

dict_values([[1, 2, 3, 4, 5], ['Z', 'B', 'C', 'D', 'E'], ['N', 'S', 'S', 'E', 'W'], ['Py', 'Tab', 'SQl', 'Py']])

In [99]:
tuple1

(32, 22, 43, 3, 23, 43, 34, 33, 23)

In [101]:
#converet tuple to list,to change value in a tuple

list1=list(tuple1)

In [102]:
list1[0]=100

In [103]:
tuple1=tuple(list1)

In [104]:
list(dict1)

['cust_id', 'cust_name', 'Region', 'Product']

In [105]:
#list inside a tuple
#list inside tuple can be edited
tuple1= (1,2,3,[4,5,6])

In [106]:
tuple1[3][1]=50

In [107]:
tuple1

(1, 2, 3, [4, 50, 6])

# Sets

In [108]:
#also created using curly braces
#used to get the unique values
#set does not support indexation
#can not perform action like slicing and  other index required tasks

In [110]:
myset1 = {1,2,3,2,3,45,3,2,3,3,2,4,54,4,3}

In [111]:
myset1

{1, 2, 3, 4, 45, 54}

In [ ]:
#functions in set
# add -> can add values in set 
#clear-> clear the set
#copy-> create a copy
#discard-> remove a pass which is passed in the function , does not throw error even if value is not exist in set
#pop ->  remove first value from the set,
#remove-> remove the paased value from set, throw error if value not available
#union-> gives unioon of two set
#update-> update value of set, deletes common value
#difference-> gives difference of set
#difference_update-> saves the difference in set
#intersection-> gives intersection
#isdisjoint-> gives  true if all values in both set are difference otherwise gives fales
#issubset-> gives true if a set is subset of other set
#issuperset->gives true if a set is superset of other set
#symmetric_difference-> gives symmetric difference, no common values are included

In [114]:
myset1.add(100)

In [115]:
myset1

{1, 2, 3, 4, 45, 54, 100}

In [116]:
myset2=myset1.copy()

In [117]:
myset1.discard(4)

In [118]:
myset1

{1, 2, 3, 45, 54, 100}

In [119]:
myset1.pop()

1

In [120]:
myset1

{2, 3, 45, 54, 100}

In [121]:
myset1.remove(3)

In [122]:
myset1.remove(3)

KeyError: 3

In [123]:
myset1={1,2,3}

In [ ]:
myset2={3,4,5}

In [124]:
myset1.union(myset2)

{1, 2, 3, 4, 45, 54, 100}

In [125]:
myset1.update(myset2)

In [126]:
myset1

{1, 2, 3, 4, 45, 54, 100}

In [127]:
myset1.difference(myset2)

set()

In [128]:
myset1={1,2,3}

In [129]:
myset1

{1, 2, 3}

In [130]:
myset2={3,4,5}

In [131]:
myset2

{3, 4, 5}

In [132]:
myset1.difference(myset2)

{1, 2}

In [133]:
myset1.difference_update(myset2)

In [134]:
myset1

{1, 2}

In [135]:
myset1={1,2,3}

In [136]:
myset1.intersection(myset2)

{3}

In [137]:
myset1={1,2,3}

In [138]:
myset2={3,4,5}

In [139]:
myset1.intersection_update(myset2)

In [140]:
myset1

{3}

In [141]:
myset1={1,2,3}

In [142]:
myset1.isdisjoint(myset2)

False

In [143]:
myset1= {1,2,6}

In [144]:
myset1.isdisjoint(myset2)

True

In [145]:
myset1={1,2,3,4,5,6,7,8,9,10}

In [146]:
myset2={2,3,4}

In [147]:
myset1.issubset(myset2)

False

In [148]:
myset2.issubset(myset1)

True

In [149]:
myset2={2,3,4,11}

In [150]:
myset2.issubset(myset1)

False

In [151]:
myset2={2,3,4}

In [152]:
myset1.issuperset(myset2)

True

In [155]:
myset1={1,2,3,4,'a'}

In [156]:
myset2={'a','b','c'}

In [157]:
myset1.symmetric_difference(myset2)

{1, 2, 3, 4, 'b', 'c'}

In [158]:
myset1.symmetric_difference_update(myset2)

In [159]:
myset1

{1, 2, 3, 4, 'b', 'c'}

In [160]:
myset1={1,2,3,4,{5,6,7},{3,5,6}}

TypeError: unhashable type: 'set'