# Regular expressions

In [7]:
# Fetching out information from text, regular expression is used
#regular expression is a package which comes built in with python
# re is package for regular expression

In [8]:
import re

In [10]:
nameage = '''Janies is 22 and Thron is 33
Gabrial is 44 and Joy is 21'''

In [11]:
nameage

'Janies is 22 and Thron is 33\nGabrial is 44 and Joy is 21'

In [13]:
# fetch out the names from the string and put it one list and also fetch the age as number and put it in a list
#and then make a dictionary as a key pair value janies->22

In [15]:
#since name has first letter capital
#find text with first letter is A-Z and rest are a-z , * denote all other character,from nameage variable

In [16]:
names = re.findall(r'[A-Z][a-z]*',nameage)

In [17]:
names

['Janies', 'Thron', 'Gabrial', 'Joy']

In [19]:
#to find ages, \d means 0-9,{1,2}means the age can be of 1 or two digit
ages = re.findall(r'\d{1,2}',nameage)

In [20]:
ages

['22', '33', '44', '21']

In [21]:
nameage = '''Janies is 22222222 and Thron is 33
Gabrial is 44 and Joy is 21'''

In [22]:
ages = re.findall(r'\d{1,2}',nameage)

In [23]:
ages

['22', '22', '22', '22', '33', '44', '21']

In [24]:
nameage = '''Janies is 22 and Thron is 33
Gabrial is 44 and Joy is 21'''

In [25]:
ages = re.findall(r'\d{1,2}',nameage)

In [26]:
ages

['22', '33', '44', '21']

In [27]:
names

['Janies', 'Thron', 'Gabrial', 'Joy']

In [28]:
#eachname ka first value jennis and age[0] is 22
agedict = {}
x = 0
for eachname in names:
    agedict[eachname]=ages[x]
    x=x+1
print(agedict)

{'Janies': '22', 'Thron': '33', 'Gabrial': '44', 'Joy': '21'}

In [29]:
#dictionary is created

In [32]:
a = 'we need to inform him with the latest information'

In [34]:
#number of inform word in a string

In [35]:
if re.search('inform',a):
    print('Inform is available')

Inform is available

In [36]:
#how many inform are available in data set and kaha kaha available hai

In [37]:
re.findall('inform',a)

['inform', 'inform']

In [39]:
for i in re.finditer('inform',a):
    loc = i.span()
    print(loc)

(11, 17)
(38, 44)

In [40]:
string = 'Sat hat mat pat rat cat'

In [41]:
string

'Sat hat mat pat rat cat'

In [43]:
re.findall('[Smc]at',string)

['Sat', 'mat', 'cat']

In [44]:
#we dont want hat pat rat,  ^ mean not  ,

In [46]:
re.findall('[^hpr]at',string)

['Sat', 'mat', 'cat']

In [47]:
#update string
#areg stores rat

In [48]:
areg = re.compile('[r]at',)

In [49]:
#sub means substitute
areg.sub('fat',string)

'Sat hat mat pat fat cat'

In [53]:
num = '123 1234 12345 123456 1234567 12345678'

In [54]:
#find number which is greater than or equal to 5 digit

In [55]:
len(re.findall('\d{5}',num))

4

In [56]:
phone = '410-123-3343'

In [57]:
phone

'410-123-3343'

In [58]:
#find wether phone number is valid or not

In [60]:
if re.search('\d{3}-\d{3}-\d{4}',phone):
    print("It is valid phone number without country code")
else:
    print("the phone number is not valid")

It is valid phone number without country code

In [61]:
phone = '+1410-123-3343'

In [63]:
if re.search('\d{3}-\d{3}-\d{4}',phone):
    print("It is valid phone number without country code")
elif re.search('\+\d{4}-\d{3}-\d{4}',phone):
     print("It is valid phone number with country code")
else:
    print("the phone number is not valid")

It is valid phone number without country code

In [64]:
phone = '(410) 123-3343'

In [65]:
if re.search('\d{3}-\d{3}-\d{4}',phone):
    print("It is valid phone number without country code")
elif re.search('\+\d{4}-\d{3}-\d{4}',phone):
     print("It is valid phone number with country code")
elif re.search('\(\d{3}\) \d{3}-\d{4}',phone):
    print("It is phone number with bracket")
else:
    print("the phone number is not valid")

It is phone number with bracket

In [66]:
#write a code to verify email addresses is valid or not
# rahul@cognitive-analytic.in valid
#khushal.com not valid
# @milind.gmail.com not valid
# aastha@gmail.com  valid

In [67]:
#summet.com
#fetch phone from this site  this is known as scrpping

In [69]:
import urllib.request

In [70]:
url = 'https://www.summet.com/dmsi/html/codesamples/addresses.html'

In [72]:
response = urllib.request.urlopen(url)

In [73]:
html= response.read()

In [75]:
htmlstr = html.decode()

In [76]:
re.findall('\(\d{3}\) \d{3}-\d{4}',htmlstr)

['(257) 563-7401',
 '(372) 587-2335',
 '(786) 713-8616',
 '(793) 151-6230',
 '(492) 709-6392',
 '(654) 393-5734',
 '(404) 960-3807',
 '(314) 244-6306',
 '(947) 278-5929',
 '(684) 579-1879',
 '(389) 737-2852',
 '(660) 663-4518',
 '(608) 265-2215',
 '(959) 119-8364',
 '(468) 353-2641',
 '(248) 675-4007',
 '(939) 353-1107',
 '(570) 873-7090',
 '(302) 259-2375',
 '(717) 450-4729',
 '(453) 391-4650',
 '(559) 104-5475',
 '(387) 142-9434',
 '(516) 745-4496',
 '(326) 677-3419',
 '(746) 679-2470',
 '(455) 430-0989',
 '(490) 936-4694',
 '(985) 834-8285',
 '(662) 661-1446',
 '(802) 668-8240',
 '(477) 768-9247',
 '(791) 239-9057',
 '(832) 109-0213',
 '(837) 196-3274',
 '(268) 442-2428',
 '(850) 676-5117',
 '(861) 546-5032',
 '(176) 805-4108',
 '(715) 912-6931',
 '(993) 554-0563',
 '(357) 616-5411',
 '(121) 347-0086',
 '(304) 506-6314',
 '(425) 288-2332',
 '(145) 987-4962',
 '(187) 582-9707',
 '(750) 558-3965',
 '(492) 467-3131',
 '(774) 914-2510',
 '(888) 106-8550',
 '(539) 567-3573',
 '(693) 337-2849',
 '(545) 604-9386',
 '(221) 156-5026',
 '(414) 876-0865',
 '(932) 726-8645',
 '(726) 710-9826',
 '(622) 594-1662',
 '(948) 600-8503',
 '(605) 900-7508',
 '(716) 977-5775',
 '(368) 239-8275',
 '(725) 342-0650',
 '(711) 993-5187',
 '(882) 399-5084',
 '(287) 755-9948',
 '(659) 551-3389',
 '(275) 730-6868',
 '(725) 757-4047',
 '(314) 882-1496',
 '(639) 360-7590',
 '(168) 222-1592',
 '(896) 303-1164',
 '(203) 982-6130',
 '(906) 217-1470',
 '(614) 514-1269',
 '(763) 409-5446',
 '(836) 292-5324',
 '(926) 709-3295',
 '(963) 356-9268',
 '(736) 522-8584',
 '(410) 483-0352',
 '(252) 204-1434',
 '(874) 886-4174',
 '(581) 379-7573',
 '(983) 632-8597',
 '(295) 983-3476',
 '(873) 392-8802',
 '(360) 669-3923',
 '(840) 987-9449',
 '(422) 517-6053',
 '(126) 940-2753',
 '(427) 930-5255',
 '(689) 721-5145',
 '(676) 334-2174',
 '(437) 994-5270',
 '(564) 908-6970',
 '(577) 333-6244',
 '(655) 840-6139']

In [77]:
pdata=re.findall('\(\d{3}\) \d{3}-\d{4}',htmlstr)

In [78]:
for i in pdata:
    print(i)

(257) 563-7401
(372) 587-2335
(786) 713-8616
(793) 151-6230
(492) 709-6392
(654) 393-5734
(404) 960-3807
(314) 244-6306
(947) 278-5929
(684) 579-1879
(389) 737-2852
(660) 663-4518
(608) 265-2215
(959) 119-8364
(468) 353-2641
(248) 675-4007
(939) 353-1107
(570) 873-7090
(302) 259-2375
(717) 450-4729
(453) 391-4650
(559) 104-5475
(387) 142-9434
(516) 745-4496
(326) 677-3419
(746) 679-2470
(455) 430-0989
(490) 936-4694
(985) 834-8285
(662) 661-1446
(802) 668-8240
(477) 768-9247
(791) 239-9057
(832) 109-0213
(837) 196-3274
(268) 442-2428
(850) 676-5117
(861) 546-5032
(176) 805-4108
(715) 912-6931
(993) 554-0563
(357) 616-5411
(121) 347-0086
(304) 506-6314
(425) 288-2332
(145) 987-4962
(187) 582-9707
(750) 558-3965
(492) 467-3131
(774) 914-2510
(888) 106-8550
(539) 567-3573
(693) 337-2849
(545) 604-9386
(221) 156-5026
(414) 876-0865
(932) 726-8645
(726) 710-9826
(622) 594-1662
(948) 600-8503
(605) 900-7508
(716) 977-5775
(368) 239-8275
(725) 342-0650
(711) 993-5187
(882) 399-5084
(287) 755-9948
(659) 551-3389
(275) 730-6868
(725) 757-4047
(314) 882-1496
(639) 360-7590
(168) 222-1592
(896) 303-1164
(203) 982-6130
(906) 217-1470
(614) 514-1269
(763) 409-5446
(836) 292-5324
(926) 709-3295
(963) 356-9268
(736) 522-8584
(410) 483-0352
(252) 204-1434
(874) 886-4174
(581) 379-7573
(983) 632-8597
(295) 983-3476
(873) 392-8802
(360) 669-3923
(840) 987-9449
(422) 517-6053
(126) 940-2753
(427) 930-5255
(689) 721-5145
(676) 334-2174
(437) 994-5270
(564) 908-6970
(577) 333-6244
(655) 840-6139

In [79]:
import pandas as pd

In [81]:
phone_no=pd.DataFrame(pdata)

In [82]:
import os

In [84]:
os.getcwd()

'C:\\Users\\Ankit Sharma'

In [86]:
os.chdir(r'F:\python')

In [87]:
phone_no.to_excel('phone_no.xls')